/* section {
  display: none;
} */

:root {
  --red: #ffadad;
  --orange: #ffd6a5;
  --yellow: #fdffb6;
  --green: #caffbf;
  --blue: #9bf6ff;
  --navy: #a0c4ff;
  --purple: #bdb2ff;
  --pink: #ffc6ff;
  --white: #fffffc;
  --black: #1f1f1f;
  --font-family: "Pacifico", sans-serif;
  --second-family: "M PLUS 1p", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

textarea {
  resize: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
