/* HEADER */
header {
  background-color: #fbfbfb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #e91e63;
}

/* НАВИГАЦИЯ */
.navigation {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #e91e63;
}

/* БУРГЕР */
.burger-menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: 0.3s ease;
}

/* МОБИЛЬНОЕ МЕНЮ */
@media (max-width: 767px) {
  .navigation {
    display: none;
    position: absolute;
    top: 60px;
    right: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  .navigation.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-list {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .burger-menu {
    display: flex;
  }
}

/* HERO SECTION */

.hero {
  background-image: url(../images/hero/hero_2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-width: 375px;
  height: 90vh;
  margin: 0 auto;
}

.hero-title {
  font-size: 28px;
  color: aqua;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    background-size: cover;
    max-width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-size: cover;
    max-width: 1280px;
    height: 600px;
  }
}

/* CONGRATS SECTION */

/* .greeting-item {
  border: #e91e63 solid 2px;
  border-radius: 24px;
  padding: 8px;
  margin: 16px auto;
  width: 100%;
  max-width: 100%;
}

.greeting-thumb {
  position: relative;
}

.greeting-thumb img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  border-radius: 24px;
}

.play-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  font-size: 14px;
  padding: 4px 8px;
  display: none;
}

.greeting-item[data-type="video"] .play-icon,
.greeting-item[data-type="youtube"] .play-icon {
  display: block;
} */

/* Анимация */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ==================== */
.greeting-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

.greeting-card {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.greeting-card img {
  width: 100%;
  border-radius: 20px;
  display: block;
}

.card-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 50%;
  /* font-size: 16px; */
  padding: 6px;
  width: 34px;
  height: 34px;
  fill: white;
}

.greeting-card p {
  margin-top: 8px;
  font-size: 14px;
}

/* Модалка */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 40px 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: transparent;
}
