/* HEADER */
header {
  display: none;
  background-color: #fbfbfb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #e91e63;
}

/* НАВИГАЦИЯ */
.navigation {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #e91e63;
}

/* БУРГЕР */
.burger-menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: 0.3s ease;
}

/* МОБИЛЬНОЕ МЕНЮ */
@media (max-width: 767px) {
  .navigation {
    display: none;
    position: absolute;
    top: 60px;
    right: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  .navigation.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-list {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .burger-menu {
    display: flex;
  }
}

/* HERO SECTION */

.hero {
  background: var(--yellow) url("../images/patterns/pattern_green.png");
  background-size: contain;
  margin: 0 auto;
  overflow: hidden;

  padding: 62px 0;
}

.hero-image {
  height: auto;
  margin: 0 auto;
  min-width: 496px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hero-title {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 2;
  text-align: center;
  color: var(--white);
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
  margin-top: -88px;
}

@media screen and (min-width: 768px) {
  .hero-image {
    position: static;
    transform: none;
  }
}

/* Анимация */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CONGRATS */

.congrats {
  background: url("../images/patterns/pattern.png"), var(--orange);
  background-size: contain;
  background-position: center;
  text-align: center;
}

.section-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #000;
  margin-bottom: 32px;
}
/* ==================== */

.greeting-card {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 100px 0;
}

.greeting-card:nth-of-type(3n + 1) {
  background: url("../images/patterns/pattern.png"), var(--pink);
  background-size: contain;
  background-position: center;
}

.greeting-card:nth-of-type(3n + 2) {
  background: url("../images/patterns/pattern.png"), var(--green);
  background-size: contain;
  background-position: center;
}

.greeting-card:nth-of-type(3n + 3) {
  background: url("../images/patterns/pattern.png"), var(--blue);
  background-size: contain;
  background-position: center;
}

.card-icon {
  display: inline-block;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 29px;
  background-color: rgba(255, 255, 255, 0.6);
}

.card-sign {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .greeting-list {
    display: flex;
    flex-wrap: wrap;
  }

  .greeting-card {
    flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .greeting-card {
    flex-basis: calc(100% / 4);
  }
}

.gift-section {
  background: url("../images/patterns/pattern_green.png"), var(--yellow);
  background-size: contain;
  padding: 228px 0;
}
.get-gift-btn {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  color: #000;

  max-width: 240px;
  display: block;
  margin: 0 auto;
  padding: 14px 44px;

  border-radius: 16px;
  box-shadow: 0 0 0 12px var(--blue), 0 0 0 24px var(--navy);
  background: var(--green);
}

/* FOOTER */

.page-footer {
  background: url("../images/patterns/pattern_hearts.png"), var(--red);
  background-size: contain;
  background-position: center;
  padding: 30px 0;
  text-align: center;
}

/* Модалка */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: url("../images/patterns/pattern_hearts.png"), var(--red);
  background-size: contain;
  background-position: center;

  padding: 40px 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: transparent;
}
